# Filtering the data to use in forecasting solar flares
***

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Load dataframes
df_sharp = pd.read_csv("./sharp_data/sharp_data.csv")
df_goes = pd.read_csv("./goes_data/goes_all_probes.csv")
df_solar = pd.read_csv("./other_data/daily_solar_data.csv")
#df_noaa_radio = pd.read_csv("./other_data/noaa_radio_flux.csv")
#df_penticton_radio = pd.read_csv("./other_data/penticton_radio_flux.csv")
#df_xrt = pd.read_csv("./other_data/xrt_flarecat.csv")

# SHARP dataset
***

In [3]:
print(df_sharp.info())
print(df_sharp.shape)
print(df_sharp.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476418 entries, 0 to 4476417
Data columns (total 21 columns):
 #   Column    Dtype
---  ------    -----
 0   DATE-OBS  object
 1   T_OBS     object
 2   T_REC     object
 3   USFLUX    float64
 4   MEANGAM   float64
 5   MEANGBT   float64
 6   MEANGBZ   float64
 7   MEANGBH   float64
 8   MEANJZD   float64
 9   TOTUSJZ   float64
 10  MEANALP   float64
 11  MEANJZH   float64
 12  TOTUSJH   float64
 13  ABSNJZH   float64
 14  SAVNCPP   float64
 15  MEANPOT   float64
 16  TOTPOT    float64
 17  MEANSHR   float64
 18  SHRGT45   float64
 19  R_VALUE   float64
 20  HARPNUM   int64
dtypes: float64(17), int64(1), object(3)
memory usage: 717.2+ MB
None
(4476418, 21)
                  DATE-OBS                    T_OBS                    T_REC  \
0  2010-04-30T23:58:22.20Z  2010.05.01_00:00:04_TAI  2010.05.01_00:00:00_TAI
1  2010-05-01T00:10:22.20Z  2010.05.01_00:12:04_TAI  2010.05.01_00:12:00_TAI
2  2010-05-01T00:22:22.20Z  2010.05.01_00:24:04_TAI  2010.05.01_00:24:00_TAI
3  2010-05-01T00:34:22.20Z  2010.05.01_00:36:04_TAI  2010.05.01_00:36:00_TAI
4  2010-05-01T00:46:22.20Z  2010.05.01_00:48:04_TAI  2010.05.01_00:48:00_TAI

         USFLUX  MEANGAM  MEANGBT  MEANGBZ  MEANGBH   MEANJZD       TOTUSJZ  \
0  6.510776e+21   28.337   66.808   84.497   32.193 -0.131873  5.777592e+12
1  6.521054e+21   29.678   68.349   90.781   32.345 -0.113589  5.654726e+12
2  6.917875e+21   28.441   67.682   89.127   32.411  0.061197  6.488687e+12
3  6.973706e+21   28.031   67.166   85.321   31.966  0.053302  6.193157e+12
4  7.228647e+21   26.980   64.805   76.349   32.647  0.011571  5.797055e+12

   ...   MEANJZH  TOTUSJH  ABSNJZH       SAVNCPP   MEANPOT        TOTPOT  \
0  ...  0.003103  270.853   30.270  2.383632e+12  2242.021  2.905448e+22
1  ... -0.001279  264.299   12.939  6.364629e+11  2461.199  3.306497e+22
2  ...  0.001073  307.572   11.460  1.174558e+12  2365.145  3.353350e+22
3  ...  0.001688  297.073   17.791  2.019295e+12  2194.344  3.071844e+22
4  ...  0.000308  301.562    3.262  8.275204e+11  1970.685  2.774973e+22

   MEANSHR  SHRGT45  R_VALUE  HARPNUM
0   24.064    8.690    3.343        1
1   24.950   11.418    3.642        1
2   23.755    9.489    3.357        1
3   24.017    9.012    3.544        1
4   21.072    6.130    3.073        1

[5 rows x 21 columns]

In [4]:
# Function to convert TAI to UTC
def tai_to_utc(dt):
    # dt is naive datetime (parsed from _TAI)
    if dt < pd.Timestamp("2012-07-01"):
        offset = 34
    elif dt < pd.Timestamp("2015-07-01"):
        offset = 35
    elif dt < pd.Timestamp("2017-01-01"):
        offset = 36
    else:
        offset = 37
    return dt - pd.Timedelta(seconds=offset)

In [5]:
# Convert the time labels to datetime objects
df_sharp["DATE-OBS_time"] = pd.to_datetime(df_sharp["DATE-OBS"], format="%Y-%m-%dT%H:%M:%S.%fZ", utc=True)

df_sharp["T_OBS_time"] = pd.to_datetime(df_sharp["T_OBS"].str.replace("_TAI",""), format="%Y.%m.%d_%H:%M:%S")
df_sharp["T_REC_time"] = pd.to_datetime(df_sharp["T_REC"].str.replace("_TAI",""), format="%Y.%m.%d_%H:%M:%S")

df_sharp["T_OBS_time"] = df_sharp["T_OBS_time"].apply(tai_to_utc).dt.tz_localize("UTC")
df_sharp["T_REC_time"] = df_sharp["T_REC_time"].apply(tai_to_utc).dt.tz_localize("UTC")

print(df_sharp.head())

                  DATE-OBS                    T_OBS                    T_REC  \
0  2010-04-30T23:58:22.20Z  2010.05.01_00:00:04_TAI  2010.05.01_00:00:00_TAI
1  2010-05-01T00:10:22.20Z  2010.05.01_00:12:04_TAI  2010.05.01_00:12:00_TAI
2  2010-05-01T00:22:22.20Z  2010.05.01_00:24:04_TAI  2010.05.01_00:24:00_TAI
3  2010-05-01T00:34:22.20Z  2010.05.01_00:36:04_TAI  2010.05.01_00:36:00_TAI
4  2010-05-01T00:46:22.20Z  2010.05.01_00:48:04_TAI  2010.05.01_00:48:00_TAI

         USFLUX  MEANGAM  MEANGBT  MEANGBZ  MEANGBH   MEANJZD       TOTUSJZ  \
0  6.510776e+21   28.337   66.808   84.497   32.193 -0.131873  5.777592e+12
1  6.521054e+21   29.678   68.349   90.781   32.345 -0.113589  5.654726e+12
2  6.917875e+21   28.441   67.682   89.127   32.411  0.061197  6.488687e+12
3  6.973706e+21   28.031   67.166   85.321   31.966  0.053302  6.193157e+12
4  7.228647e+21   26.980   64.805   76.349   32.647  0.011571  5.797055e+12

   ...       SAVNCPP   MEANPOT        TOTPOT  MEANSHR  SHRGT45  R_VALUE  \
0  ...  2.383632e+12  2242.021  2.905448e+22   24.064    8.690    3.343
1  ...  6.364629e+11  2461.199  3.306497e+22   24.950   11.418    3.642
2  ...  1.174558e+12  2365.145  3.353350e+22   23.755    9.489    3.357
3  ...  2.019295e+12  2194.344  3.071844e+22   24.017    9.012    3.544
4  ...  8.275204e+11  1970.685  2.774973e+22   21.072    6.130    3.073

   HARPNUM                    DATE-OBS_time                T_OBS_time  \
0        1 2010-04-30 23:58:22.200000+00:00 2010-04-30 23:59:30+00:00
1        1 2010-05-01 00:10:22.200000+00:00 2010-05-01 00:11:30+00:00
2        1 2010-05-01 00:22:22.200000+00:00 2010-05-01 00:23:30+00:00
3        1 2010-05-01 00:34:22.200000+00:00 2010-05-01 00:35:30+00:00
4        1 2010-05-01 00:46:22.200000+00:00 2010-05-01 00:47:30+00:00

                 T_REC_time
0 2010-04-30 23:59:26+00:00
1 2010-05-01 00:11:26+00:00
2 2010-05-01 00:23:26+00:00
3 2010-05-01 00:35:26+00:00
4 2010-05-01 00:47:26+00:00

[5 rows x 24 columns]

In [ ]:
# Create a new data with only day for the aggeregation
# floor to day
df_sharp["DATE"] = df_sharp["DATE-OBS_time"].dt.floor("D")

# Many measureaments start just before midnight of the last day, but should be counted as part of the next day
# if very close to midnight, push to next day
# e.g. within last 5 minutes of the day
mask = df_sharp["DATE-OBS_time"].dt.hour == 23
mask &= df_sharp["DATE-OBS_time"].dt.minute >= 55
df_sharp.loc[mask, "DATE"] += pd.Timedelta(days=1)

print(df_sharp.head())

                  DATE-OBS                    T_OBS                    T_REC  \
0  2010-04-30T23:58:22.20Z  2010.05.01_00:00:04_TAI  2010.05.01_00:00:00_TAI
1  2010-05-01T00:10:22.20Z  2010.05.01_00:12:04_TAI  2010.05.01_00:12:00_TAI
2  2010-05-01T00:22:22.20Z  2010.05.01_00:24:04_TAI  2010.05.01_00:24:00_TAI
3  2010-05-01T00:34:22.20Z  2010.05.01_00:36:04_TAI  2010.05.01_00:36:00_TAI
4  2010-05-01T00:46:22.20Z  2010.05.01_00:48:04_TAI  2010.05.01_00:48:00_TAI

         USFLUX  MEANGAM  MEANGBT  MEANGBZ  MEANGBH   MEANJZD       TOTUSJZ  \
0  6.510776e+21   28.337   66.808   84.497   32.193 -0.131873  5.777592e+12
1  6.521054e+21   29.678   68.349   90.781   32.345 -0.113589  5.654726e+12
2  6.917875e+21   28.441   67.682   89.127   32.411  0.061197  6.488687e+12
3  6.973706e+21   28.031   67.166   85.321   31.966  0.053302  6.193157e+12
4  7.228647e+21   26.980   64.805   76.349   32.647  0.011571  5.797055e+12

   ...   MEANPOT        TOTPOT  MEANSHR  SHRGT45  R_VALUE  HARPNUM  \
0  ...  2242.021  2.905448e+22   24.064    8.690    3.343        1
1  ...  2461.199  3.306497e+22   24.950   11.418    3.642        1
2  ...  2365.145  3.353350e+22   23.755    9.489    3.357        1
3  ...  2194.344  3.071844e+22   24.017    9.012    3.544        1
4  ...  1970.685  2.774973e+22   21.072    6.130    3.073        1

                     DATE-OBS_time                T_OBS_time  \
0 2010-04-30 23:58:22.200000+00:00 2010-04-30 23:59:30+00:00
1 2010-05-01 00:10:22.200000+00:00 2010-05-01 00:11:30+00:00
2 2010-05-01 00:22:22.200000+00:00 2010-05-01 00:23:30+00:00
3 2010-05-01 00:34:22.200000+00:00 2010-05-01 00:35:30+00:00
4 2010-05-01 00:46:22.200000+00:00 2010-05-01 00:47:30+00:00

                 T_REC_time                      DATE
0 2010-04-30 23:59:26+00:00 2010-05-01 00:00:00+00:00
1 2010-05-01 00:11:26+00:00 2010-05-01 00:00:00+00:00
2 2010-05-01 00:23:26+00:00 2010-05-01 00:00:00+00:00
3 2010-05-01 00:35:26+00:00 2010-05-01 00:00:00+00:00
4 2010-05-01 00:47:26+00:00 2010-05-01 00:00:00+00:00

[5 rows x 25 columns]

In [7]:
# search for NaNs

# count NaNs per column
nan_count = df_sharp.isna().sum()
print(nan_count)

# fraction between 0 and 1
nan_fraction = df_sharp.isna().mean()
print(nan_fraction)

DATE-OBS             0
T_OBS                0
T_REC                0
USFLUX               0
MEANGAM          44216
MEANGBT          43413
MEANGBZ          43399
MEANGBH          43399
MEANJZD          43399
TOTUSJZ              0
MEANALP          43413
MEANJZH          43404
TOTUSJH              0
ABSNJZH              0
SAVNCPP              0
MEANPOT          43091
TOTPOT               0
MEANSHR          48665
SHRGT45          43091
R_VALUE           4318
HARPNUM              0
DATE-OBS_time        0
T_OBS_time           0
T_REC_time           0
DATE                 0
dtype: int64
DATE-OBS         0.000000
T_OBS            0.000000
T_REC            0.000000
USFLUX           0.000000
MEANGAM          0.009878
MEANGBT          0.009698
MEANGBZ          0.009695
MEANGBH          0.009695
MEANJZD          0.009695
TOTUSJZ          0.000000
MEANALP          0.009698
MEANJZH          0.009696
TOTUSJH          0.000000
ABSNJZH          0.000000
SAVNCPP          0.000000
MEANPOT          0.009626
TOTPOT           0.000000
MEANSHR          0.010871
SHRGT45          0.009626
R_VALUE          0.000965
HARPNUM          0.000000
DATE-OBS_time    0.000000
T_OBS_time       0.000000
T_REC_time       0.000000
DATE             0.000000
dtype: float64

In [8]:
# Search for infinities
print(np.isinf(df_sharp.loc[:, 'USFLUX':'HARPNUM']).sum().sum())

50

In [9]:
# Replace infinite values with NaN
df_sharp = df_sharp.replace([np.inf, -np.inf], np.nan)

In [10]:
# count NaNs per HARPNUM per day
nan_counts = (
    df_sharp.groupby(["HARPNUM", "DATE"])
      .apply(lambda g: g.isna().sum(), include_groups=False)
)
print(nan_counts)

# also total rows, to compute fractions
nan_fractions = (
    df_sharp.groupby(["HARPNUM", "DATE"])
      .apply(lambda g: g.isna().mean(), include_groups=False)
)
print(nan_fractions)

                                   DATE-OBS  T_OBS  T_REC  USFLUX  MEANGAM  \
HARPNUM DATE
1       2010-05-01 00:00:00+00:00         0      0      0       0        0
        2010-05-02 00:00:00+00:00         0      0      0       0        0
        2010-05-03 00:00:00+00:00         0      0      0       0        0
        2010-05-04 00:00:00+00:00         0      0      0       0        0
        2010-05-05 00:00:00+00:00         0      0      0       0        0
...                                     ...    ...    ...     ...      ...
12519   2025-01-01 00:00:00+00:00         0      0      0       0        0
12523   2024-12-31 00:00:00+00:00         0      0      0       0        0
        2025-01-01 00:00:00+00:00         0      0      0       0        0
12527   2024-12-31 00:00:00+00:00         0      0      0       0        0
        2025-01-01 00:00:00+00:00         0      0      0       0        0

                                   MEANGBT  MEANGBZ  MEANGBH  MEANJZD  \
HARPNUM DATE
1       2010-05-01 00:00:00+00:00        0        0        0        0
        2010-05-02 00:00:00+00:00        0        0        0        0
        2010-05-03 00:00:00+00:00        0        0        0        0
        2010-05-04 00:00:00+00:00        0        0        0        0
        2010-05-05 00:00:00+00:00        0        0        0        0
...                                    ...      ...      ...      ...
12519   2025-01-01 00:00:00+00:00        0        0        0        0
12523   2024-12-31 00:00:00+00:00        0        0        0        0
        2025-01-01 00:00:00+00:00        0        0        0        0
12527   2024-12-31 00:00:00+00:00        0        0        0        0
        2025-01-01 00:00:00+00:00        0        0        0        0

                                   TOTUSJZ  ...  ABSNJZH  SAVNCPP  MEANPOT  \
HARPNUM DATE                                ...
1       2010-05-01 00:00:00+00:00        0  ...        0        0        0
        2010-05-02 00:00:00+00:00        0  ...        0        0        0
        2010-05-03 00:00:00+00:00        0  ...        0        0        0
        2010-05-04 00:00:00+00:00        0  ...        0        0        0
        2010-05-05 00:00:00+00:00        0  ...        0        0        0
...                                    ...  ...      ...      ...      ...
12519   2025-01-01 00:00:00+00:00        0  ...        0        0        0
12523   2024-12-31 00:00:00+00:00        0  ...        0        0        0
        2025-01-01 00:00:00+00:00        0  ...        0        0        0
12527   2024-12-31 00:00:00+00:00        0  ...        0        0        0
        2025-01-01 00:00:00+00:00        0  ...        0        0        0

                                   TOTPOT  MEANSHR  SHRGT45  R_VALUE  \
HARPNUM DATE
1       2010-05-01 00:00:00+00:00       0        1        0        0
        2010-05-02 00:00:00+00:00       0        1        0        0
        2010-05-03 00:00:00+00:00       0        0        0        0
        2010-05-04 00:00:00+00:00       0        0        0        0
        2010-05-05 00:00:00+00:00       0        0        0        0
...                                   ...      ...      ...      ...
12519   2025-01-01 00:00:00+00:00       0        0        0        0
12523   2024-12-31 00:00:00+00:00       0        0        0        0
        2025-01-01 00:00:00+00:00       0        0        0        0
12527   2024-12-31 00:00:00+00:00       0        0        0        0
        2025-01-01 00:00:00+00:00       0        0        0        0

                                   DATE-OBS_time  T_OBS_time  T_REC_time
HARPNUM DATE
1       2010-05-01 00:00:00+00:00              0           0           0
        2010-05-02 00:00:00+00:00              0           0           0
        2010-05-03 00:00:00+00:00              0           0           0
        2010-05-04 00:00:00+00:00              0           0           0
        2010-05-05 00:00:00+00:00              0           0           0
...                                          ...         ...         ...
12519   2025-01-01 00:00:00+00:00              0           0           0
12523   2024-12-31 00:00:00+00:00              0           0           0
        2025-01-01 00:00:00+00:00              0           0           0
12527   2024-12-31 00:00:00+00:00              0           0           0
        2025-01-01 00:00:00+00:00              0           0           0

[46792 rows x 23 columns]
                                   DATE-OBS  T_OBS  T_REC  USFLUX  MEANGAM  \
HARPNUM DATE
1       2010-05-01 00:00:00+00:00       0.0    0.0    0.0     0.0      0.0
        2010-05-02 00:00:00+00:00       0.0    0.0    0.0     0.0      0.0
        2010-05-03 00:00:00+00:00       0.0    0.0    0.0     0.0      0.0
        2010-05-04 00:00:00+00:00       0.0    0.0    0.0     0.0      0.0
        2010-05-05 00:00:00+00:00       0.0    0.0    0.0     0.0      0.0
...                                     ...    ...    ...     ...      ...
12519   2025-01-01 00:00:00+00:00       0.0    0.0    0.0     0.0      0.0
12523   2024-12-31 00:00:00+00:00       0.0    0.0    0.0     0.0      0.0
        2025-01-01 00:00:00+00:00       0.0    0.0    0.0     0.0      0.0
12527   2024-12-31 00:00:00+00:00       0.0    0.0    0.0     0.0      0.0
        2025-01-01 00:00:00+00:00       0.0    0.0    0.0     0.0      0.0

                                   MEANGBT  MEANGBZ  MEANGBH  MEANJZD  \
HARPNUM DATE
1       2010-05-01 00:00:00+00:00      0.0      0.0      0.0      0.0
        2010-05-02 00:00:00+00:00      0.0      0.0      0.0      0.0
        2010-05-03 00:00:00+00:00      0.0      0.0      0.0      0.0
        2010-05-04 00:00:00+00:00      0.0      0.0      0.0      0.0
        2010-05-05 00:00:00+00:00      0.0      0.0      0.0      0.0
...                                    ...      ...      ...      ...
12519   2025-01-01 00:00:00+00:00      0.0      0.0      0.0      0.0
12523   2024-12-31 00:00:00+00:00      0.0      0.0      0.0      0.0
        2025-01-01 00:00:00+00:00      0.0      0.0      0.0      0.0
12527   2024-12-31 00:00:00+00:00      0.0      0.0      0.0      0.0
        2025-01-01 00:00:00+00:00      0.0      0.0      0.0      0.0

                                   TOTUSJZ  ...  ABSNJZH  SAVNCPP  MEANPOT  \
HARPNUM DATE                                ...
1       2010-05-01 00:00:00+00:00      0.0  ...      0.0      0.0      0.0
        2010-05-02 00:00:00+00:00      0.0  ...      0.0      0.0      0.0
        2010-05-03 00:00:00+00:00      0.0  ...      0.0      0.0      0.0
        2010-05-04 00:00:00+00:00      0.0  ...      0.0      0.0      0.0
        2010-05-05 00:00:00+00:00      0.0  ...      0.0      0.0      0.0
...                                    ...  ...      ...      ...      ...
12519   2025-01-01 00:00:00+00:00      0.0  ...      0.0      0.0      0.0
12523   2024-12-31 00:00:00+00:00      0.0  ...      0.0      0.0      0.0
        2025-01-01 00:00:00+00:00      0.0  ...      0.0      0.0      0.0
12527   2024-12-31 00:00:00+00:00      0.0  ...      0.0      0.0      0.0
        2025-01-01 00:00:00+00:00      0.0  ...      0.0      0.0      0.0

                                   TOTPOT   MEANSHR  SHRGT45  R_VALUE  \
HARPNUM DATE
1       2010-05-01 00:00:00+00:00     0.0  0.008475      0.0      0.0
        2010-05-02 00:00:00+00:00     0.0  0.008264      0.0      0.0
        2010-05-03 00:00:00+00:00     0.0  0.000000      0.0      0.0
        2010-05-04 00:00:00+00:00     0.0  0.000000      0.0      0.0
        2010-05-05 00:00:00+00:00     0.0  0.000000      0.0      0.0
...                                   ...       ...      ...      ...
12519   2025-01-01 00:00:00+00:00     0.0  0.000000      0.0      0.0
12523   2024-12-31 00:00:00+00:00     0.0  0.000000      0.0      0.0
        2025-01-01 00:00:00+00:00     0.0  0.000000      0.0      0.0
12527   2024-12-31 00:00:00+00:00     0.0  0.000000      0.0      0.0
        2025-01-01 00:00:00+00:00     0.0  0.000000      0.0      0.0

                                   DATE-OBS_time  T_OBS_time  T_REC_time
HARPNUM DATE
1       2010-05-01 00:00:00+00:00            0.0         0.0         0.0
        2010-05-02 00:00:00+00:00            0.0         0.0         0.0
        2010-05-03 00:00:00+00:00            0.0         0.0         0.0
        2010-05-04 00:00:00+00:00            0.0         0.0         0.0
        2010-05-05 00:00:00+00:00            0.0         0.0         0.0
...                                          ...         ...         ...
12519   2025-01-01 00:00:00+00:00            0.0         0.0         0.0
12523   2024-12-31 00:00:00+00:00            0.0         0.0         0.0
        2025-01-01 00:00:00+00:00            0.0         0.0         0.0
12527   2024-12-31 00:00:00+00:00            0.0         0.0         0.0
        2025-01-01 00:00:00+00:00            0.0         0.0         0.0

[46792 rows x 23 columns]

In [11]:
# check if NaNs are correlated with HARPNUM or DATE
nan_fractions = nan_fractions.reset_index()
summary = nan_fractions.melt(id_vars=["HARPNUM", "DATE"], 
                             var_name="column", value_name="nan_fraction")

# filter only cases with >0
summary = summary[summary["nan_fraction"] > 0].sort_values("nan_fraction", ascending=False)

print(summary.head(100))

        HARPNUM                      DATE   column  nan_fraction
727831     6841 2016-11-12 00:00:00+00:00  MEANPOT           1.0
524725     2541 2013-03-07 00:00:00+00:00  MEANJZH           1.0
290427     2464 2013-02-09 00:00:00+00:00  MEANGBZ           1.0
524720     2533 2013-03-18 00:00:00+00:00  MEANJZH           1.0
524721     2537 2013-03-06 00:00:00+00:00  MEANJZH           1.0
...         ...                       ...      ...           ...
524494     2488 2013-02-17 00:00:00+00:00  MEANJZH           1.0
524508     2491 2013-02-15 00:00:00+00:00  MEANJZH           1.0
524486     2482 2013-02-11 00:00:00+00:00  MEANJZH           1.0
524485     2481 2013-02-16 00:00:00+00:00  MEANJZH           1.0
852724     2642 2013-04-05 00:00:00+00:00  SHRGT45           1.0

[100 rows x 4 columns]

In [12]:
# NaNs are not correlated with HARPNUM or DATE. Entire days or HARPNUMs are not missing.
# We can delete rows with NaNs without introducing bias.

df_sharp_clean = df_sharp.dropna()

In [13]:
# average over days and spots

# 1. daily average per spot
df_daily_per_spot = (
    df_sharp_clean.groupby(["HARPNUM", "DATE"])
      .mean(numeric_only=True)
      .reset_index()
)
print(df_daily_per_spot.head())

# 2. daily average across spots (ignore HARPNUM)
df_daily_all_spots = (
    df_sharp_clean.groupby("DATE")
      .mean(numeric_only=True)
      .reset_index()
)
print(df_daily_all_spots.head())

   HARPNUM                      DATE        USFLUX    MEANGAM     MEANGBT  \
0        1 2010-05-01 00:00:00+00:00  6.703258e+21  25.728111   72.767846
1        1 2010-05-02 00:00:00+00:00  9.855321e+21  25.814383   79.668617
2        1 2010-05-03 00:00:00+00:00  9.420379e+21  28.120769   94.159909
3        1 2010-05-04 00:00:00+00:00  6.441307e+21  29.274752  111.013884
4        1 2010-05-05 00:00:00+00:00  5.100163e+21  30.340793  120.692843

      MEANGBZ    MEANGBH   MEANJZD       TOTUSJZ   MEANALP   MEANJZH  \
0   82.501701  32.511701 -0.091966  6.021028e+12 -0.001429 -0.000457
1   81.215375  33.471042 -0.181589  8.825466e+12  0.000624  0.000202
2   94.493545  37.063504 -0.002756  9.878426e+12  0.007282  0.002162
3  110.362157  43.795851  0.243887  7.983555e+12  0.002613  0.000733
4  119.220595  48.880603  0.358636  7.487984e+12 -0.004161 -0.001062

      TOTUSJH    ABSNJZH       SAVNCPP      MEANPOT        TOTPOT    MEANSHR  \
0  293.488923  19.927444  1.329568e+12  1793.641085  2.514715e+22  20.111077
1  436.962675  20.083542  1.733339e+12  1641.511542  3.322971e+22  20.368508
2  465.454116  32.576628  1.684395e+12  2000.041438  3.952735e+22  23.597612
3  357.115694   8.255198  1.401880e+12  2020.966388  2.769680e+22  24.594959
4  321.795529  10.727537  1.708431e+12  1889.305860  2.160716e+22  24.775653

    SHRGT45   R_VALUE
0  5.050607  2.840291
1  3.126908  3.253250
2  3.837322  2.124455
3  4.115554  0.620818
4  4.890835  0.877223
                       DATE        USFLUX    MEANGAM     MEANGBT     MEANGBZ  \
0 2010-05-01 00:00:00+00:00  2.325578e+21  29.580376  121.361911  123.196711
1 2010-05-02 00:00:00+00:00  2.696859e+21  28.751549  122.228577  122.295676
2 2010-05-03 00:00:00+00:00  2.736471e+21  32.679652  114.202538  116.841407
3 2010-05-04 00:00:00+00:00  3.459664e+21  29.875355  111.631345  113.176893
4 2010-05-05 00:00:00+00:00  4.498598e+21  32.720370  114.997301  116.687383

     MEANGBH   MEANJZD       TOTUSJZ   MEANALP   MEANJZH     TOTUSJH  \
0  51.438868  0.322770  2.560842e+12 -0.003638 -0.001203  121.382588
1  49.115366  0.482847  2.705160e+12 -0.007909 -0.001914  130.490867
2  50.343133  0.221901  3.094572e+12 -0.002675 -0.000645  147.288774
3  47.272120  0.142148  3.900520e+12 -0.015443 -0.005443  192.403871
4  53.344742  0.286059  5.273561e+12 -0.019879 -0.008015  271.996240

     ABSNJZH       SAVNCPP      MEANPOT        TOTPOT    MEANSHR   SHRGT45  \
0   8.655854  6.597945e+11  1956.658174  9.498057e+21  22.413924  4.774505
1   8.144476  6.955367e+11  1750.035333  9.288054e+21  22.018225  3.351672
2  16.465134  8.870457e+11  2375.142399  1.369992e+22  25.411222  9.329624
3  25.724327  1.355429e+12  2096.876699  1.542359e+22  23.249838  5.911705
4  61.537238  2.825717e+12  2851.388046  2.995931e+22  25.196759  8.395499

    R_VALUE   HARPNUM
0  1.068144  3.505308
1  0.933084  3.931429
2  1.548449  6.830827
3  1.418933  7.157143
4  1.542851  9.367273

# GOES dataset
***

In [14]:
print(df_goes.info())
print(df_goes.shape)
print(df_goes.head())
print(df_goes.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12911040 entries, 0 to 12911039
Data columns (total 66 columns):
 #   Column                           Dtype
---  ------                           -----
 0   datetime                         object
 1   g10_xrs_xs                       float64
 2   g10_xrs_xl                       float64
 3   g11_xrs_xs                       float64
 4   g11_xrs_xl                       float64
 5   g12_xrs_xs                       float64
 6   g12_xrs_xl                       float64
 7   g13_xrs_A_QUAL_FLAG              float64
 8   g13_xrs_A_NUM_PTS                float64
 9   g13_xrs_A_AVG                    float64
 10  g13_xrs_B_QUAL_FLAG              float64
 11  g13_xrs_B_NUM_PTS                float64
 12  g13_xrs_B_AVG                    float64
 13  g14_xrs_A_QUAL_FLAG              float64
 14  g14_xrs_A_NUM_PTS                float64
 15  g14_xrs_A_AVG                    float64
 16  g14_xrs_B_QUAL_FLAG              float64
 17  g14_xrs_B_NUM_PTS                float64
 18  g14_xrs_B_AVG                    float64
 19  g15_xrs_A_QUAL_FLAG              float64
 20  g15_xrs_A_NUM_PTS                float64
 21  g15_xrs_A_AVG                    float64
 22  g15_xrs_B_QUAL_FLAG              float64
 23  g15_xrs_B_NUM_PTS                float64
 24  g15_xrs_B_AVG                    float64
 25  g17_xrs_au_factor                float64
 26  g17_xrs_corrected_current_xrsb2  float64
 27  g17_xrs_roll_angle               float64
 28  g17_xrs_xrs_primary_chan         float64
 29  g17_xrs_xrsa1_flag               float64
 30  g17_xrs_xrsa1_flag_excluded      float64
 31  g17_xrs_xrsa1_flux               float64
 32  g17_xrs_xrsa1_flux_electrons     float64
 33  g17_xrs_xrsa1_flux_observed      float64
 34  g17_xrs_xrsa1_num                float64
 35  g17_xrs_xrsa2_flag               float64
 36  g17_xrs_xrsa2_flag_excluded      float64
 37  g17_xrs_xrsa2_flux               float64
 38  g17_xrs_xrsa2_flux_electrons     float64
 39  g17_xrs_xrsa2_flux_observed      float64
 40  g17_xrs_xrsa2_num                float64
 41  g17_xrs_xrsa_flag                float64
 42  g17_xrs_xrsa_flag_excluded       float64
 43  g17_xrs_xrsa_flux                float64
 44  g17_xrs_xrsa_flux_electrons      float64
 45  g17_xrs_xrsa_flux_observed       float64
 46  g17_xrs_xrsa_num                 float64
 47  g17_xrs_xrsb1_flag               float64
 48  g17_xrs_xrsb1_flag_excluded      float64
 49  g17_xrs_xrsb1_flux               float64
 50  g17_xrs_xrsb1_flux_electrons     float64
 51  g17_xrs_xrsb1_flux_observed      float64
 52  g17_xrs_xrsb1_num                float64
 53  g17_xrs_xrsb2_flag               float64
 54  g17_xrs_xrsb2_flag_excluded      float64
 55  g17_xrs_xrsb2_flux               float64
 56  g17_xrs_xrsb2_flux_electrons     float64
 57  g17_xrs_xrsb2_flux_observed      float64
 58  g17_xrs_xrsb2_num                float64
 59  g17_xrs_xrsb_flag                float64
 60  g17_xrs_xrsb_flag_excluded       float64
 61  g17_xrs_xrsb_flux                float64
 62  g17_xrs_xrsb_flux_electrons      float64
 63  g17_xrs_xrsb_flux_observed       float64
 64  g17_xrs_xrsb_num                 float64
 65  g17_xrs_yaw_flip_flag            float64
dtypes: float64(65), object(1)
memory usage: 6.3+ GB
None
(12911040, 66)
              datetime    g10_xrs_xs    g10_xrs_xl  g11_xrs_xs  g11_xrs_xl  \
0  1998-07-01 00:00:00  3.350000e-09  1.270000e-07         NaN         NaN
1  1998-07-01 00:01:00  3.330000e-09  1.270000e-07         NaN         NaN
2  1998-07-01 00:02:00  3.330000e-09  1.270000e-07         NaN         NaN
3  1998-07-01 00:03:00  3.330000e-09  1.270000e-07         NaN         NaN
4  1998-07-01 00:04:00  3.330000e-09  1.270000e-07         NaN         NaN

   g12_xrs_xs  g12_xrs_xl  g13_xrs_A_QUAL_FLAG  g13_xrs_A_NUM_PTS  \
0         NaN         NaN                  NaN                NaN
1         NaN         NaN                  NaN                NaN
2         NaN         NaN                  NaN                NaN
3         NaN         NaN                  NaN                NaN
4         NaN         NaN                  NaN                NaN

   g13_xrs_A_AVG  ...  g17_xrs_xrsb2_flux_electrons  \
0            NaN  ...                           NaN
1            NaN  ...                           NaN
2            NaN  ...                           NaN
3            NaN  ...                           NaN
4            NaN  ...                           NaN

   g17_xrs_xrsb2_flux_observed  g17_xrs_xrsb2_num  g17_xrs_xrsb_flag  \
0                          NaN                NaN                NaN
1                          NaN                NaN                NaN
2                          NaN                NaN                NaN
3                          NaN                NaN                NaN
4                          NaN                NaN                NaN

   g17_xrs_xrsb_flag_excluded  g17_xrs_xrsb_flux  g17_xrs_xrsb_flux_electrons  \
0                         NaN                NaN                          NaN
1                         NaN                NaN                          NaN
2                         NaN                NaN                          NaN
3                         NaN                NaN                          NaN
4                         NaN                NaN                          NaN

   g17_xrs_xrsb_flux_observed  g17_xrs_xrsb_num  g17_xrs_yaw_flip_flag
0                         NaN               NaN                    NaN
1                         NaN               NaN                    NaN
2                         NaN               NaN                    NaN
3                         NaN               NaN                    NaN
4                         NaN               NaN                    NaN

[5 rows x 66 columns]
                     datetime  g10_xrs_xs  g10_xrs_xl  g11_xrs_xs  g11_xrs_xl  \
12911035  2024-08-11 23:55:00         NaN         NaN         NaN         NaN
12911036  2024-08-11 23:56:00         NaN         NaN         NaN         NaN
12911037  2024-08-11 23:57:00         NaN         NaN         NaN         NaN
12911038  2024-08-11 23:58:00         NaN         NaN         NaN         NaN
12911039  2024-08-11 23:59:00         NaN         NaN         NaN         NaN

          g12_xrs_xs  g12_xrs_xl  g13_xrs_A_QUAL_FLAG  g13_xrs_A_NUM_PTS  \
12911035         NaN         NaN                  NaN                NaN
12911036         NaN         NaN                  NaN                NaN
12911037         NaN         NaN                  NaN                NaN
12911038         NaN         NaN                  NaN                NaN
12911039         NaN         NaN                  NaN                NaN

          g13_xrs_A_AVG  ...  g17_xrs_xrsb2_flux_electrons  \
12911035            NaN  ...                           0.0
12911036            NaN  ...                           0.0
12911037            NaN  ...                           0.0
12911038            NaN  ...                           0.0
12911039            NaN  ...                           0.0

          g17_xrs_xrsb2_flux_observed  g17_xrs_xrsb2_num  g17_xrs_xrsb_flag  \
12911035                          NaN                0.0                2.0
12911036                          NaN                0.0                2.0
12911037                          NaN                0.0                2.0
12911038                          NaN                0.0                2.0
12911039                          NaN                0.0                2.0

          g17_xrs_xrsb_flag_excluded  g17_xrs_xrsb_flux  \
12911035                       256.0                NaN
12911036                       256.0                NaN
12911037                       256.0                NaN
12911038                       256.0                NaN
12911039                       256.0                NaN

          g17_xrs_xrsb_flux_electrons  g17_xrs_xrsb_flux_observed  \
12911035                          0.0                         NaN
12911036                          0.0                         NaN
12911037                          0.0                         NaN
12911038                          0.0                         NaN
12911039                          0.0                         NaN

          g17_xrs_xrsb_num  g17_xrs_yaw_flip_flag
12911035               0.0                  255.0
12911036               0.0                  255.0
12911037               0.0                  255.0
12911038               0.0                  255.0
12911039               0.0                  255.0

[5 rows x 66 columns]

In [15]:
# Convert the time labels to datetime objects
df_goes["datetime_time"] = pd.to_datetime(df_goes["datetime"], utc=True)

# Create a new data with only day for the aggeregation
# floor to day
df_goes["DATE"] = df_goes["datetime_time"].dt.floor("D")

In [16]:
# some values are not NaN but are invalid, e.g. -1 or 9999
for col in df_goes.columns:
    if df_goes[col].dtype in [float, int]:
        df_goes.loc[df_goes[col] < 0, col] = np.nan

In [17]:
# Search for infinities
print(np.isinf(df_goes.loc[:, 'g10_xrs_xs':'g15_xrs_B_AVG']).sum().sum())

0

In [18]:
# Replace infinite values with NaN
df_goes = df_goes.replace([np.inf, -np.inf], np.nan)

In [19]:
# count NaNs per column
nan_count = df_goes.isna().sum()
print(nan_count)

# fraction between 0 and 1
nan_fraction = df_goes.isna().mean()
print(nan_fraction)

datetime                             0
g10_xrs_xs                     7259222
g10_xrs_xl                     7259253
g11_xrs_xs                    12018767
g11_xrs_xl                    12018781
                                ...
g17_xrs_xrsb_flux_observed    11363142
g17_xrs_xrsb_num              11306880
g17_xrs_yaw_flip_flag         11306880
datetime_time                        0
DATE                                 0
Length: 68, dtype: int64
datetime                      0.000000
g10_xrs_xs                    0.562249
g10_xrs_xl                    0.562252
g11_xrs_xs                    0.930891
g11_xrs_xl                    0.930892
                                ...
g17_xrs_xrsb_flux_observed    0.880111
g17_xrs_xrsb_num              0.875753
g17_xrs_yaw_flip_flag         0.875753
datetime_time                 0.000000
DATE                          0.000000
Length: 68, dtype: float64

In [20]:
# count NaNs per day
nan_counts = (
    df_goes.groupby(["DATE"])
      .apply(lambda g: g.isna().sum(), include_groups=False)
)
print(nan_counts)

# also total rows, to compute fractions
nan_fractions = (
    df_goes.groupby(["DATE"])
      .apply(lambda g: g.isna().mean(), include_groups=False)
)
print(nan_fractions)

                           datetime  g10_xrs_xs  g10_xrs_xl  g11_xrs_xs  \
DATE
1998-07-01 00:00:00+00:00         0           0           0        1440
1998-07-02 00:00:00+00:00         0           1           1        1440
1998-07-03 00:00:00+00:00         0         121         121        1440
1998-07-04 00:00:00+00:00         0           0           0        1440
1998-07-05 00:00:00+00:00         0           0           0        1440
...                             ...         ...         ...         ...
2024-08-07 00:00:00+00:00         0        1440        1440        1440
2024-08-08 00:00:00+00:00         0        1440        1440        1440
2024-08-09 00:00:00+00:00         0        1440        1440        1440
2024-08-10 00:00:00+00:00         0        1440        1440        1440
2024-08-11 00:00:00+00:00         0        1440        1440        1440

                           g11_xrs_xl  g12_xrs_xs  g12_xrs_xl  \
DATE
1998-07-01 00:00:00+00:00        1440        1440        1440
1998-07-02 00:00:00+00:00        1440        1440        1440
1998-07-03 00:00:00+00:00        1440        1440        1440
1998-07-04 00:00:00+00:00        1440        1440        1440
1998-07-05 00:00:00+00:00        1440        1440        1440
...                               ...         ...         ...
2024-08-07 00:00:00+00:00        1440        1440        1440
2024-08-08 00:00:00+00:00        1440        1440        1440
2024-08-09 00:00:00+00:00        1440        1440        1440
2024-08-10 00:00:00+00:00        1440        1440        1440
2024-08-11 00:00:00+00:00        1440        1440        1440

                           g13_xrs_A_QUAL_FLAG  g13_xrs_A_NUM_PTS  \
DATE
1998-07-01 00:00:00+00:00                 1440               1440
1998-07-02 00:00:00+00:00                 1440               1440
1998-07-03 00:00:00+00:00                 1440               1440
1998-07-04 00:00:00+00:00                 1440               1440
1998-07-05 00:00:00+00:00                 1440               1440
...                                        ...                ...
2024-08-07 00:00:00+00:00                 1440               1440
2024-08-08 00:00:00+00:00                 1440               1440
2024-08-09 00:00:00+00:00                 1440               1440
2024-08-10 00:00:00+00:00                 1440               1440
2024-08-11 00:00:00+00:00                 1440               1440

                           g13_xrs_A_AVG  ...  g17_xrs_xrsb2_flux_observed  \
DATE                                      ...
1998-07-01 00:00:00+00:00           1440  ...                         1440
1998-07-02 00:00:00+00:00           1440  ...                         1440
1998-07-03 00:00:00+00:00           1440  ...                         1440
1998-07-04 00:00:00+00:00           1440  ...                         1440
1998-07-05 00:00:00+00:00           1440  ...                         1440
...                                  ...  ...                          ...
2024-08-07 00:00:00+00:00           1440  ...                         1440
2024-08-08 00:00:00+00:00           1440  ...                         1440
2024-08-09 00:00:00+00:00           1440  ...                         1440
2024-08-10 00:00:00+00:00           1440  ...                         1440
2024-08-11 00:00:00+00:00           1440  ...                         1440

                           g17_xrs_xrsb2_num  g17_xrs_xrsb_flag  \
DATE
1998-07-01 00:00:00+00:00               1440               1440
1998-07-02 00:00:00+00:00               1440               1440
1998-07-03 00:00:00+00:00               1440               1440
1998-07-04 00:00:00+00:00               1440               1440
1998-07-05 00:00:00+00:00               1440               1440
...                                      ...                ...
2024-08-07 00:00:00+00:00                  0                  0
2024-08-08 00:00:00+00:00                  0                  0
2024-08-09 00:00:00+00:00                  0                  0
2024-08-10 00:00:00+00:00                  0                  0
2024-08-11 00:00:00+00:00                  0                  0

                           g17_xrs_xrsb_flag_excluded  g17_xrs_xrsb_flux  \
DATE
1998-07-01 00:00:00+00:00                        1440               1440
1998-07-02 00:00:00+00:00                        1440               1440
1998-07-03 00:00:00+00:00                        1440               1440
1998-07-04 00:00:00+00:00                        1440               1440
1998-07-05 00:00:00+00:00                        1440               1440
...                                               ...                ...
2024-08-07 00:00:00+00:00                           0               1440
2024-08-08 00:00:00+00:00                           0               1440
2024-08-09 00:00:00+00:00                           0               1440
2024-08-10 00:00:00+00:00                           0               1440
2024-08-11 00:00:00+00:00                           0               1440

                           g17_xrs_xrsb_flux_electrons  \
DATE
1998-07-01 00:00:00+00:00                         1440
1998-07-02 00:00:00+00:00                         1440
1998-07-03 00:00:00+00:00                         1440
1998-07-04 00:00:00+00:00                         1440
1998-07-05 00:00:00+00:00                         1440
...                                                ...
2024-08-07 00:00:00+00:00                            0
2024-08-08 00:00:00+00:00                            0
2024-08-09 00:00:00+00:00                            0
2024-08-10 00:00:00+00:00                            0
2024-08-11 00:00:00+00:00                            0

                           g17_xrs_xrsb_flux_observed  g17_xrs_xrsb_num  \
DATE
1998-07-01 00:00:00+00:00                        1440              1440
1998-07-02 00:00:00+00:00                        1440              1440
1998-07-03 00:00:00+00:00                        1440              1440
1998-07-04 00:00:00+00:00                        1440              1440
1998-07-05 00:00:00+00:00                        1440              1440
...                                               ...               ...
2024-08-07 00:00:00+00:00                        1440                 0
2024-08-08 00:00:00+00:00                        1440                 0
2024-08-09 00:00:00+00:00                        1440                 0
2024-08-10 00:00:00+00:00                        1440                 0
2024-08-11 00:00:00+00:00                        1440                 0

                           g17_xrs_yaw_flip_flag  datetime_time
DATE
1998-07-01 00:00:00+00:00                   1440              0
1998-07-02 00:00:00+00:00                   1440              0
1998-07-03 00:00:00+00:00                   1440              0
1998-07-04 00:00:00+00:00                   1440              0
1998-07-05 00:00:00+00:00                   1440              0
...                                          ...            ...
2024-08-07 00:00:00+00:00                      0              0
2024-08-08 00:00:00+00:00                      0              0
2024-08-09 00:00:00+00:00                      0              0
2024-08-10 00:00:00+00:00                      0              0
2024-08-11 00:00:00+00:00                      0              0

[8966 rows x 67 columns]
                           datetime  g10_xrs_xs  g10_xrs_xl  g11_xrs_xs  \
DATE
1998-07-01 00:00:00+00:00       0.0    0.000000    0.000000         1.0
1998-07-02 00:00:00+00:00       0.0    0.000694    0.000694         1.0
1998-07-03 00:00:00+00:00       0.0    0.084028    0.084028         1.0
1998-07-04 00:00:00+00:00       0.0    0.000000    0.000000         1.0
1998-07-05 00:00:00+00:00       0.0    0.000000    0.000000         1.0
...                             ...         ...         ...         ...
2024-08-07 00:00:00+00:00       0.0    1.000000    1.000000         1.0
2024-08-08 00:00:00+00:00       0.0    1.000000    1.000000         1.0
2024-08-09 00:00:00+00:00       0.0    1.000000    1.000000         1.0
2024-08-10 00:00:00+00:00       0.0    1.000000    1.000000         1.0
2024-08-11 00:00:00+00:00       0.0    1.000000    1.000000         1.0

                           g11_xrs_xl  g12_xrs_xs  g12_xrs_xl  \
DATE
1998-07-01 00:00:00+00:00         1.0         1.0         1.0
1998-07-02 00:00:00+00:00         1.0         1.0         1.0
1998-07-03 00:00:00+00:00         1.0         1.0         1.0
1998-07-04 00:00:00+00:00         1.0         1.0         1.0
1998-07-05 00:00:00+00:00         1.0         1.0         1.0
...                               ...         ...         ...
2024-08-07 00:00:00+00:00         1.0         1.0         1.0
2024-08-08 00:00:00+00:00         1.0         1.0         1.0
2024-08-09 00:00:00+00:00         1.0         1.0         1.0
2024-08-10 00:00:00+00:00         1.0         1.0         1.0
2024-08-11 00:00:00+00:00         1.0         1.0         1.0

                           g13_xrs_A_QUAL_FLAG  g13_xrs_A_NUM_PTS  \
DATE
1998-07-01 00:00:00+00:00                  1.0                1.0
1998-07-02 00:00:00+00:00                  1.0                1.0
1998-07-03 00:00:00+00:00                  1.0                1.0
1998-07-04 00:00:00+00:00                  1.0                1.0
1998-07-05 00:00:00+00:00                  1.0                1.0
...                                        ...                ...
2024-08-07 00:00:00+00:00                  1.0                1.0
2024-08-08 00:00:00+00:00                  1.0                1.0
2024-08-09 00:00:00+00:00                  1.0                1.0
2024-08-10 00:00:00+00:00                  1.0                1.0
2024-08-11 00:00:00+00:00                  1.0                1.0

                           g13_xrs_A_AVG  ...  g17_xrs_xrsb2_flux_observed  \
DATE                                      ...
1998-07-01 00:00:00+00:00            1.0  ...                          1.0
1998-07-02 00:00:00+00:00            1.0  ...                          1.0
1998-07-03 00:00:00+00:00            1.0  ...                          1.0
1998-07-04 00:00:00+00:00            1.0  ...                          1.0
1998-07-05 00:00:00+00:00            1.0  ...                          1.0
...                                  ...  ...                          ...
2024-08-07 00:00:00+00:00            1.0  ...                          1.0
2024-08-08 00:00:00+00:00            1.0  ...                          1.0
2024-08-09 00:00:00+00:00            1.0  ...                          1.0
2024-08-10 00:00:00+00:00            1.0  ...                          1.0
2024-08-11 00:00:00+00:00            1.0  ...                          1.0

                           g17_xrs_xrsb2_num  g17_xrs_xrsb_flag  \
DATE
1998-07-01 00:00:00+00:00                1.0                1.0
1998-07-02 00:00:00+00:00                1.0                1.0
1998-07-03 00:00:00+00:00                1.0                1.0
1998-07-04 00:00:00+00:00                1.0                1.0
1998-07-05 00:00:00+00:00                1.0                1.0
...                                      ...                ...
2024-08-07 00:00:00+00:00                0.0                0.0
2024-08-08 00:00:00+00:00                0.0                0.0
2024-08-09 00:00:00+00:00                0.0                0.0
2024-08-10 00:00:00+00:00                0.0                0.0
2024-08-11 00:00:00+00:00                0.0                0.0

                           g17_xrs_xrsb_flag_excluded  g17_xrs_xrsb_flux  \
DATE
1998-07-01 00:00:00+00:00                         1.0                1.0
1998-07-02 00:00:00+00:00                         1.0                1.0
1998-07-03 00:00:00+00:00                         1.0                1.0
1998-07-04 00:00:00+00:00                         1.0                1.0
1998-07-05 00:00:00+00:00                         1.0                1.0
...                                               ...                ...
2024-08-07 00:00:00+00:00                         0.0                1.0
2024-08-08 00:00:00+00:00                         0.0                1.0
2024-08-09 00:00:00+00:00                         0.0                1.0
2024-08-10 00:00:00+00:00                         0.0                1.0
2024-08-11 00:00:00+00:00                         0.0                1.0

                           g17_xrs_xrsb_flux_electrons  \
DATE
1998-07-01 00:00:00+00:00                          1.0
1998-07-02 00:00:00+00:00                          1.0
1998-07-03 00:00:00+00:00                          1.0
1998-07-04 00:00:00+00:00                          1.0
1998-07-05 00:00:00+00:00                          1.0
...                                                ...
2024-08-07 00:00:00+00:00                          0.0
2024-08-08 00:00:00+00:00                          0.0
2024-08-09 00:00:00+00:00                          0.0
2024-08-10 00:00:00+00:00                          0.0
2024-08-11 00:00:00+00:00                          0.0

                           g17_xrs_xrsb_flux_observed  g17_xrs_xrsb_num  \
DATE
1998-07-01 00:00:00+00:00                         1.0               1.0
1998-07-02 00:00:00+00:00                         1.0               1.0
1998-07-03 00:00:00+00:00                         1.0               1.0
1998-07-04 00:00:00+00:00                         1.0               1.0
1998-07-05 00:00:00+00:00                         1.0               1.0
...                                               ...               ...
2024-08-07 00:00:00+00:00                         1.0               0.0
2024-08-08 00:00:00+00:00                         1.0               0.0
2024-08-09 00:00:00+00:00                         1.0               0.0
2024-08-10 00:00:00+00:00                         1.0               0.0
2024-08-11 00:00:00+00:00                         1.0               0.0

                           g17_xrs_yaw_flip_flag  datetime_time
DATE
1998-07-01 00:00:00+00:00                    1.0            0.0
1998-07-02 00:00:00+00:00                    1.0            0.0
1998-07-03 00:00:00+00:00                    1.0            0.0
1998-07-04 00:00:00+00:00                    1.0            0.0
1998-07-05 00:00:00+00:00                    1.0            0.0
...                                          ...            ...
2024-08-07 00:00:00+00:00                    0.0            0.0
2024-08-08 00:00:00+00:00                    0.0            0.0
2024-08-09 00:00:00+00:00                    0.0            0.0
2024-08-10 00:00:00+00:00                    0.0            0.0
2024-08-11 00:00:00+00:00                    0.0            0.0

[8966 rows x 67 columns]

In [21]:
# Sometimes, entire days are missing. Better not to filter them out. Better to interpolate them.
# First, later GOES satellites have better coverage, so we can use them first and fill in missing data using earlier satellites only when necessary.

# define priority list: latest satellite first
xrs_A_cols = ['g15_xrs_A_AVG','g14_xrs_A_AVG','g13_xrs_A_AVG', 'g12_xrs_xs', 'g11_xrs_xs', 'g10_xrs_xs']
xrs_B_cols = ['g15_xrs_B_AVG','g14_xrs_B_AVG','g13_xrs_B_AVG', 'g12_xrs_xl', 'g11_xrs_xl', 'g10_xrs_xl']

# create a single column per channel by filling NaNs from newest to oldest
df_goes['xrs_A'] = df_goes[xrs_A_cols].bfill(axis=1).iloc[:,0]
df_goes['xrs_B'] = df_goes[xrs_B_cols].bfill(axis=1).iloc[:,0]

print(df_goes.head())

              datetime    g10_xrs_xs    g10_xrs_xl  g11_xrs_xs  g11_xrs_xl  \
0  1998-07-01 00:00:00  3.350000e-09  1.270000e-07         NaN         NaN
1  1998-07-01 00:01:00  3.330000e-09  1.270000e-07         NaN         NaN
2  1998-07-01 00:02:00  3.330000e-09  1.270000e-07         NaN         NaN
3  1998-07-01 00:03:00  3.330000e-09  1.270000e-07         NaN         NaN
4  1998-07-01 00:04:00  3.330000e-09  1.270000e-07         NaN         NaN

   g12_xrs_xs  g12_xrs_xl  g13_xrs_A_QUAL_FLAG  g13_xrs_A_NUM_PTS  \
0         NaN         NaN                  NaN                NaN
1         NaN         NaN                  NaN                NaN
2         NaN         NaN                  NaN                NaN
3         NaN         NaN                  NaN                NaN
4         NaN         NaN                  NaN                NaN

   g13_xrs_A_AVG  ...  g17_xrs_xrsb_flag_excluded  g17_xrs_xrsb_flux  \
0            NaN  ...                         NaN                NaN
1            NaN  ...                         NaN                NaN
2            NaN  ...                         NaN                NaN
3            NaN  ...                         NaN                NaN
4            NaN  ...                         NaN                NaN

   g17_xrs_xrsb_flux_electrons  g17_xrs_xrsb_flux_observed  g17_xrs_xrsb_num  \
0                          NaN                         NaN               NaN
1                          NaN                         NaN               NaN
2                          NaN                         NaN               NaN
3                          NaN                         NaN               NaN
4                          NaN                         NaN               NaN

   g17_xrs_yaw_flip_flag             datetime_time                      DATE  \
0                    NaN 1998-07-01 00:00:00+00:00 1998-07-01 00:00:00+00:00
1                    NaN 1998-07-01 00:01:00+00:00 1998-07-01 00:00:00+00:00
2                    NaN 1998-07-01 00:02:00+00:00 1998-07-01 00:00:00+00:00
3                    NaN 1998-07-01 00:03:00+00:00 1998-07-01 00:00:00+00:00
4                    NaN 1998-07-01 00:04:00+00:00 1998-07-01 00:00:00+00:00

          xrs_A         xrs_B
0  3.350000e-09  1.270000e-07
1  3.330000e-09  1.270000e-07
2  3.330000e-09  1.270000e-07
3  3.330000e-09  1.270000e-07
4  3.330000e-09  1.270000e-07

[5 rows x 70 columns]

In [ ]:
# Interpolating on the short and long x-rays channels

# set datetime as index (required for method='time')
df_goes = df_goes.set_index('DATE')

# interpolate only selected columns
df_goes[['xrs_A', 'xrs_B']] = df_goes[['xrs_A', 'xrs_B']].interpolate(method='time')

# reset index
df_goes = df_goes.reset_index()

print(df_goes.head())

                       DATE             datetime    g10_xrs_xs    g10_xrs_xl  \
0 1998-07-01 00:00:00+00:00  1998-07-01 00:00:00  3.350000e-09  1.270000e-07
1 1998-07-01 00:00:00+00:00  1998-07-01 00:01:00  3.330000e-09  1.270000e-07
2 1998-07-01 00:00:00+00:00  1998-07-01 00:02:00  3.330000e-09  1.270000e-07
3 1998-07-01 00:00:00+00:00  1998-07-01 00:03:00  3.330000e-09  1.270000e-07
4 1998-07-01 00:00:00+00:00  1998-07-01 00:04:00  3.330000e-09  1.270000e-07

   g11_xrs_xs  g11_xrs_xl  g12_xrs_xs  g12_xrs_xl  g13_xrs_A_QUAL_FLAG  \
0         NaN         NaN         NaN         NaN                  NaN
1         NaN         NaN         NaN         NaN                  NaN
2         NaN         NaN         NaN         NaN                  NaN
3         NaN         NaN         NaN         NaN                  NaN
4         NaN         NaN         NaN         NaN                  NaN

   g13_xrs_A_NUM_PTS  ...  g17_xrs_xrsb_flag  g17_xrs_xrsb_flag_excluded  \
0                NaN  ...                NaN                         NaN
1                NaN  ...                NaN                         NaN
2                NaN  ...                NaN                         NaN
3                NaN  ...                NaN                         NaN
4                NaN  ...                NaN                         NaN

   g17_xrs_xrsb_flux  g17_xrs_xrsb_flux_electrons  g17_xrs_xrsb_flux_observed  \
0                NaN                          NaN                         NaN
1                NaN                          NaN                         NaN
2                NaN                          NaN                         NaN
3                NaN                          NaN                         NaN
4                NaN                          NaN                         NaN

   g17_xrs_xrsb_num  g17_xrs_yaw_flip_flag             datetime_time  \
0               NaN                    NaN 1998-07-01 00:00:00+00:00
1               NaN                    NaN 1998-07-01 00:01:00+00:00
2               NaN                    NaN 1998-07-01 00:02:00+00:00
3               NaN                    NaN 1998-07-01 00:03:00+00:00
4               NaN                    NaN 1998-07-01 00:04:00+00:00

          xrs_A         xrs_B
0  3.350000e-09  1.270000e-07
1  3.330000e-09  1.270000e-07
2  3.330000e-09  1.270000e-07
3  3.330000e-09  1.270000e-07
4  3.330000e-09  1.270000e-07

[5 rows x 70 columns]

In [23]:
# Average over days and keeping also min and max of the day
df_daily_goes = (
    df_goes.groupby("DATE")
      .agg(
          xrs_A_mean=('xrs_A', 'mean'),
          xrs_A_min=('xrs_A', 'min'),
          xrs_A_max=('xrs_A', 'max'),
          xrs_B_mean=('xrs_B', 'mean'),
          xrs_B_min=('xrs_B', 'min'),
          xrs_B_max=('xrs_B', 'max'),
      )
      .reset_index()
)

print(df_daily_goes.head())

                       DATE    xrs_A_mean     xrs_A_min     xrs_A_max  \
0 1998-07-01 00:00:00+00:00  5.222819e-09  1.450000e-09  1.410000e-07
1 1998-07-02 00:00:00+00:00  8.806660e-09  1.570000e-09  4.510000e-08
2 1998-07-03 00:00:00+00:00  1.573242e-08  1.470000e-09  5.210000e-07
3 1998-07-04 00:00:00+00:00  6.156368e-09  1.440000e-09  1.380000e-07
4 1998-07-05 00:00:00+00:00  2.525917e-08  1.450000e-09  7.450000e-07

     xrs_B_mean     xrs_B_min     xrs_B_max
0  2.292431e-07  1.270000e-07  1.370000e-06
1  4.277694e-07  2.140000e-07  8.990000e-07
2  5.068799e-07  2.370000e-07  5.780000e-06
3  3.646153e-07  2.480000e-07  1.430000e-06
4  5.796479e-07  2.280000e-07  7.660000e-06

# Solar data
***

In [153]:
print(df_solar.info())
print(df_solar.shape)
print(df_solar.head())
print(df_solar.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10330 entries, 0 to 10329
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Date                                10330 non-null  object
 1   Radio Flux 10.7cm                   10330 non-null  int64
 2   Sunspot Number                      10330 non-null  int64
 3   Sunspot Area (10^6 Hemis.)          10330 non-null  int64
 4   New Regions                         10330 non-null  int64
 5   Stanford Mean Solar Field (GOES15)  10330 non-null  object
 6   Stanford Background X-Ray Flux      10330 non-null  object
 7   Flares: C                           10330 non-null  int64
 8   Flares: M                           10330 non-null  int64
 9   Flares: X                           10330 non-null  int64
 10  Flares: S                           10330 non-null  int64
 11  Flares: 1                           10330 non-null  int64
 12  Flares: 2                           10330 non-null  int64
 13  Flares: 3                           10330 non-null  int64
dtypes: int64(11), object(3)
memory usage: 1.1+ MB
None
(10330, 14)
         Date  Radio Flux 10.7cm  Sunspot Number  Sunspot Area (10^6 Hemis.)  \
0  1997-01-01                 72               0                           0
1  1997-01-02                 72               0                           0
2  1997-01-03                 73               0                           0
3  1997-01-04                 74              13                          10
4  1997-01-05                 74              15                          20

   New Regions Stanford Mean Solar Field (GOES15)  \
0            0                                  *
1            0                                  *
2            0                                  3
3            1                                  *
4            0                                  5

  Stanford Background X-Ray Flux  Flares: C  Flares: M  Flares: X  Flares: S  \
0                           A0.5          0          0          0         -1
1                           A0.5          0          0          0         -1
2                           A0.5          0          0          0         -1
3                           A0.6          0          0          0         -1
4                           A0.7          0          0          0         -1

   Flares: 1  Flares: 2  Flares: 3
0         -1         -1         -1
1         -1         -1         -1
2         -1         -1         -1
3         -1         -1         -1
4         -1         -1         -1
             Date  Radio Flux 10.7cm  Sunspot Number  \
10325  2024-04-08                125              79
10326  2024-04-09                124              64
10327  2024-04-10                131              54
10328  2024-04-11                144              81
10329  2024-04-12                152              83

       Sunspot Area (10^6 Hemis.)  New Regions  \
10325                         470            1
10326                         405            0
10327                         410            1
10328                         560            1
10329                         570            0

      Stanford Mean Solar Field (GOES15) Stanford Background X-Ray Flux  \
10325                               -999                              *
10326                               -999                              *
10327                               -999                              *
10328                               -999                              *
10329                               -999                              *

       Flares: C  Flares: M  Flares: X  Flares: S  Flares: 1  Flares: 2  \
10325          2          0          0          0          0          0
10326          2          0          0          0          0          0
10327         11          0          0          3          0          0
10328         10          1          0          4          0          0
10329          8          0          0          7          0          0

       Flares: 3
10325          0
10326          0
10327          0
10328          0
10329          0

In [154]:
# Convert the time labels to datetime objects
df_solar["DATE"] = pd.to_datetime(df_solar["Date"], utc=True)

print(df_solar.head())

         Date  Radio Flux 10.7cm  Sunspot Number  Sunspot Area (10^6 Hemis.)  \
0  1997-01-01                 72               0                           0
1  1997-01-02                 72               0                           0
2  1997-01-03                 73               0                           0
3  1997-01-04                 74              13                          10
4  1997-01-05                 74              15                          20

   New Regions Stanford Mean Solar Field (GOES15)  \
0            0                                  *
1            0                                  *
2            0                                  3
3            1                                  *
4            0                                  5

  Stanford Background X-Ray Flux  Flares: C  Flares: M  Flares: X  Flares: S  \
0                           A0.5          0          0          0         -1
1                           A0.5          0          0          0         -1
2                           A0.5          0          0          0         -1
3                           A0.6          0          0          0         -1
4                           A0.7          0          0          0         -1

   Flares: 1  Flares: 2  Flares: 3                      DATE
0         -1         -1         -1 1997-01-01 00:00:00+00:00
1         -1         -1         -1 1997-01-02 00:00:00+00:00
2         -1         -1         -1 1997-01-03 00:00:00+00:00
3         -1         -1         -1 1997-01-04 00:00:00+00:00
4         -1         -1         -1 1997-01-05 00:00:00+00:00

In [155]:
# clear up null values
df_solar.replace('*', np.nan, inplace=True)
df_solar.replace(-1, np.nan, inplace=True)
df_solar.replace('-999', np.nan, inplace=True)

print(df_solar.head())

         Date  Radio Flux 10.7cm  Sunspot Number  Sunspot Area (10^6 Hemis.)  \
0  1997-01-01                 72               0                           0
1  1997-01-02                 72               0                           0
2  1997-01-03                 73               0                           0
3  1997-01-04                 74              13                          10
4  1997-01-05                 74              15                          20

   New Regions Stanford Mean Solar Field (GOES15)  \
0            0                                NaN
1            0                                NaN
2            0                                  3
3            1                                NaN
4            0                                  5

  Stanford Background X-Ray Flux  Flares: C  Flares: M  Flares: X  Flares: S  \
0                           A0.5        0.0        0.0        0.0        NaN
1                           A0.5        0.0        0.0        0.0        NaN
2                           A0.5        0.0        0.0        0.0        NaN
3                           A0.6        0.0        0.0        0.0        NaN
4                           A0.7        0.0        0.0        0.0        NaN

   Flares: 1  Flares: 2  Flares: 3                      DATE
0        NaN        NaN        NaN 1997-01-01 00:00:00+00:00
1        NaN        NaN        NaN 1997-01-02 00:00:00+00:00
2        NaN        NaN        NaN 1997-01-03 00:00:00+00:00
3        NaN        NaN        NaN 1997-01-04 00:00:00+00:00
4        NaN        NaN        NaN 1997-01-05 00:00:00+00:00

In [ ]:
# Include label for flares class M or X
df_solar['flare_today'] = ((df_solar['Flares: M'] > 0) | (df_solar['Flares: X'] > 0)).astype(int)

# selecting years from 2000 to now
df_solar = df_solar[(df_solar['DATE'].dt.year >= 2000)]

print(df_solar.head())

# check on how many days there were flares of class M or X
print(df_solar['flare_today'].value_counts()/len(df_solar))

            Date  Radio Flux 10.7cm  Sunspot Number  \
1095  2000-01-01                130              69
1096  2000-01-02                133              69
1097  2000-01-03                133              77
1098  2000-01-04                135             102
1099  2000-01-05                137             100

      Sunspot Area (10^6 Hemis.)  New Regions  \
1095                         540            0
1096                         460            0
1097                         480            0
1098                         460            2
1099                         410            1

     Stanford Mean Solar Field (GOES15) Stanford Background X-Ray Flux  \
1095                                 89                           B5.7
1096                                 79                           B3.7
1097                                 30                           B3.6
1098                                NaN                           B2.8
1099                                -14                           B3.2

      Flares: C  Flares: M  Flares: X  Flares: S  Flares: 1  Flares: 2  \
1095        3.0        0.0        0.0        1.0        0.0        0.0
1096        1.0        0.0        0.0        2.0        0.0        0.0
1097        2.0        0.0        0.0        2.0        0.0        0.0
1098        2.0        0.0        0.0        2.0        0.0        0.0
1099        3.0        0.0        0.0        0.0        0.0        0.0

      Flares: 3                      DATE  flare_today
1095        0.0 2000-01-01 00:00:00+00:00            0
1096        0.0 2000-01-02 00:00:00+00:00            0
1097        0.0 2000-01-03 00:00:00+00:00            0
1098        0.0 2000-01-04 00:00:00+00:00            0
1099        0.0 2000-01-05 00:00:00+00:00            0
flare_today
0    0.850135
1    0.149865
Name: count, dtype: float64

In [157]:
# checking for NaNs
nan_count = df_solar.isna().sum()
print(nan_count)

Date                                     0
Radio Flux 10.7cm                        0
Sunspot Number                           0
Sunspot Area (10^6 Hemis.)               0
New Regions                              0
Stanford Mean Solar Field (GOES15)    9049
Stanford Background X-Ray Flux        1433
Flares: C                                1
Flares: M                                1
Flares: X                                1
Flares: S                                0
Flares: 1                                0
Flares: 2                                0
Flares: 3                                0
DATE                                     0
flare_today                              0
dtype: int64

# Creating final dataframe
***

In [177]:
# Some dates are misisng, so bettee to create a full date range and merge the dataframes later

# Generate full date range
date_range = pd.date_range(
    start="2010-01-01", 
    end="2024-12-31", 
    freq="D", 
    tz="UTC"
)

# Create DataFrame
df_dates = pd.DataFrame({"DATE": date_range})

print(df_dates.head())
print(df_dates.tail())
print(len(df_dates))

                       DATE
0 2010-01-01 00:00:00+00:00
1 2010-01-02 00:00:00+00:00
2 2010-01-03 00:00:00+00:00
3 2010-01-04 00:00:00+00:00
4 2010-01-05 00:00:00+00:00
                          DATE
5474 2024-12-27 00:00:00+00:00
5475 2024-12-28 00:00:00+00:00
5476 2024-12-29 00:00:00+00:00
5477 2024-12-30 00:00:00+00:00
5478 2024-12-31 00:00:00+00:00
5479

In [178]:
# Merge dataframes

# merge DATA dataframe
df_merged = df_dates.merge(
    df_daily_all_spots, on='DATE', how='left')

# merge GOES data
df_merged = df_merged.merge(
    df_daily_goes, on='DATE', how='left')

# merge solar indices
df_merged = df_merged.merge(
    df_solar, on='DATE', how='left')

print(df_merged.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5936 entries, 0 to 5935
Data columns (total 40 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   DATE                                5936 non-null   datetime64[ns, UTC]
 1   USFLUX                              5315 non-null   float64
 2   MEANGAM                             5315 non-null   float64
 3   MEANGBT                             5315 non-null   float64
 4   MEANGBZ                             5315 non-null   float64
 5   MEANGBH                             5315 non-null   float64
 6   MEANJZD                             5315 non-null   float64
 7   TOTUSJZ                             5315 non-null   float64
 8   MEANALP                             5315 non-null   float64
 9   MEANJZH                             5315 non-null   float64
 10  TOTUSJH                             5315 non-null   float64
 11  ABSNJZH                             5315 non-null   float64
 12  SAVNCPP                             5315 non-null   float64
 13  MEANPOT                             5315 non-null   float64
 14  TOTPOT                              5315 non-null   float64
 15  MEANSHR                             5315 non-null   float64
 16  SHRGT45                             5315 non-null   float64
 17  R_VALUE                             5315 non-null   float64
 18  HARPNUM                             5315 non-null   float64
 19  xrs_A_mean                          5221 non-null   float64
 20  xrs_A_min                           5221 non-null   float64
 21  xrs_A_max                           5221 non-null   float64
 22  xrs_B_mean                          5221 non-null   float64
 23  xrs_B_min                           5221 non-null   float64
 24  xrs_B_max                           5221 non-null   float64
 25  Date                                5582 non-null   object
 26  Radio Flux 10.7cm                   5582 non-null   float64
 27  Sunspot Number                      5582 non-null   float64
 28  Sunspot Area (10^6 Hemis.)          5582 non-null   float64
 29  New Regions                         5582 non-null   float64
 30  Stanford Mean Solar Field (GOES15)  0 non-null      object
 31  Stanford Background X-Ray Flux      4172 non-null   object
 32  Flares: C                           5582 non-null   float64
 33  Flares: M                           5582 non-null   float64
 34  Flares: X                           5582 non-null   float64
 35  Flares: S                           5582 non-null   float64
 36  Flares: 1                           5582 non-null   float64
 37  Flares: 2                           5582 non-null   float64
 38  Flares: 3                           5582 non-null   float64
 39  flare_today                         5582 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(36), object(3)
memory usage: 1.8+ MB
None

In [179]:
# Check columns
print(df_merged.columns)

Index(['DATE', 'USFLUX', 'MEANGAM', 'MEANGBT', 'MEANGBZ', 'MEANGBH', 'MEANJZD',
       'TOTUSJZ', 'MEANALP', 'MEANJZH', 'TOTUSJH', 'ABSNJZH', 'SAVNCPP',
       'MEANPOT', 'TOTPOT', 'MEANSHR', 'SHRGT45', 'R_VALUE', 'HARPNUM',
       'xrs_A_mean', 'xrs_A_min', 'xrs_A_max', 'xrs_B_mean', 'xrs_B_min',
       'xrs_B_max', 'Date', 'Radio Flux 10.7cm', 'Sunspot Number',
       'Sunspot Area (10^6 Hemis.)', 'New Regions',
       'Stanford Mean Solar Field (GOES15)', 'Stanford Background X-Ray Flux',
       'Flares: C', 'Flares: M', 'Flares: X', 'Flares: S', 'Flares: 1',
       'Flares: 2', 'Flares: 3', 'flare_today'],
      dtype='object')

In [180]:
columns = [
    'DATE', 
    'USFLUX', 
    'MEANGAM', 
    'MEANGBT', 
    'MEANGBZ', 
    'MEANGBH', 
    'MEANJZD',
    'TOTUSJZ', 
    'MEANALP', 
    'MEANJZH', 
    'TOTUSJH', 
    'ABSNJZH', 
    'SAVNCPP',
    'MEANPOT', 
    'TOTPOT', 
    'MEANSHR', 
    'SHRGT45', 
    'R_VALUE',
    'xrs_A_mean', 
    'xrs_A_min', 
    'xrs_A_max', 
    'xrs_B_mean', 
    'xrs_B_min',
    'xrs_B_max',
    'Radio Flux 10.7cm', 
    'Sunspot Number',
    'Sunspot Area (10^6 Hemis.)', 
    'New Regions',
    'Flares: C', 
    'Flares: M', 
    'Flares: X',
    'flare_today']

In [181]:
df_flares = df_merged[columns].copy()

# Drop duplicate rows if any
df_flares = df_flares.drop_duplicates(subset=['DATE'])

print(df_flares.info())
print(df_flares.head())
print(df_flares.tail())

<class 'pandas.core.frame.DataFrame'>
Index: 5479 entries, 0 to 5935
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DATE                        5479 non-null   datetime64[ns, UTC]
 1   USFLUX                      4954 non-null   float64
 2   MEANGAM                     4954 non-null   float64
 3   MEANGBT                     4954 non-null   float64
 4   MEANGBZ                     4954 non-null   float64
 5   MEANGBH                     4954 non-null   float64
 6   MEANJZD                     4954 non-null   float64
 7   TOTUSJZ                     4954 non-null   float64
 8   MEANALP                     4954 non-null   float64
 9   MEANJZH                     4954 non-null   float64
 10  TOTUSJH                     4954 non-null   float64
 11  ABSNJZH                     4954 non-null   float64
 12  SAVNCPP                     4954 non-null   float64
 13  MEANPOT                     4954 non-null   float64
 14  TOTPOT                      4954 non-null   float64
 15  MEANSHR                     4954 non-null   float64
 16  SHRGT45                     4954 non-null   float64
 17  R_VALUE                     4954 non-null   float64
 18  xrs_A_mean                  4764 non-null   float64
 19  xrs_A_min                   4764 non-null   float64
 20  xrs_A_max                   4764 non-null   float64
 21  xrs_B_mean                  4764 non-null   float64
 22  xrs_B_min                   4764 non-null   float64
 23  xrs_B_max                   4764 non-null   float64
 24  Radio Flux 10.7cm           5125 non-null   float64
 25  Sunspot Number              5125 non-null   float64
 26  Sunspot Area (10^6 Hemis.)  5125 non-null   float64
 27  New Regions                 5125 non-null   float64
 28  Flares: C                   5125 non-null   float64
 29  Flares: M                   5125 non-null   float64
 30  Flares: X                   5125 non-null   float64
 31  flare_today                 5125 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(31)
memory usage: 1.4 MB
None
                       DATE  USFLUX  MEANGAM  MEANGBT  MEANGBZ  MEANGBH  \
0 2010-01-01 00:00:00+00:00     NaN      NaN      NaN      NaN      NaN
1 2010-01-02 00:00:00+00:00     NaN      NaN      NaN      NaN      NaN
2 2010-01-03 00:00:00+00:00     NaN      NaN      NaN      NaN      NaN
3 2010-01-04 00:00:00+00:00     NaN      NaN      NaN      NaN      NaN
4 2010-01-05 00:00:00+00:00     NaN      NaN      NaN      NaN      NaN

   MEANJZD  TOTUSJZ  MEANALP  MEANJZH  ...     xrs_B_min     xrs_B_max  \
0      NaN      NaN      NaN      NaN  ...  3.191730e-08  2.391820e-07
1      NaN      NaN      NaN      NaN  ...  2.094450e-08  3.178100e-06
2      NaN      NaN      NaN      NaN  ...  2.216570e-08  2.026670e-06
3      NaN      NaN      NaN      NaN  ...  1.457320e-08  1.399000e-06
4      NaN      NaN      NaN      NaN  ...  1.000000e-09  1.218210e-07

   Radio Flux 10.7cm  Sunspot Number  Sunspot Area (10^6 Hemis.)  New Regions  \
0               75.0            16.0                       120.0          0.0
1               78.0            22.0                       190.0          0.0
2               76.0            20.0                       220.0          0.0
3               73.0            15.0                       150.0          0.0
4               77.0            13.0                        90.0          0.0

   Flares: C  Flares: M  Flares: X  flare_today
0        0.0        0.0        0.0          0.0
1        3.0        0.0        0.0          0.0
2        1.0        0.0        0.0          0.0
3        1.0        0.0        0.0          0.0
4        0.0        0.0        0.0          0.0

[5 rows x 32 columns]
                          DATE        USFLUX    MEANGAM     MEANGBT  \
5931 2024-12-27 00:00:00+00:00  1.431705e+22  34.970986  115.462037
5932 2024-12-28 00:00:00+00:00  1.534682e+22  35.767972  118.995119
5933 2024-12-29 00:00:00+00:00  1.561602e+22  34.743035  116.179951
5934 2024-12-30 00:00:00+00:00  1.570091e+22  34.756358  112.593688
5935 2024-12-31 00:00:00+00:00  1.528288e+22  33.595099  111.058200

         MEANGBZ    MEANGBH   MEANJZD       TOTUSJZ   MEANALP   MEANJZH  ...  \
5931  121.318674  52.670909  0.071644  1.839913e+13  0.000825  0.000787  ...
5932  128.412141  57.352597  0.322608  1.844915e+13 -0.006909 -0.003507  ...
5933  122.820458  56.079595  0.270371  1.823538e+13 -0.004311 -0.003013  ...
5934  119.248097  55.721356  0.345999  1.727607e+13 -0.007892 -0.005648  ...
5935  117.189151  55.215992  0.068051  1.505433e+13 -0.008491 -0.004521  ...

      xrs_B_min  xrs_B_max  Radio Flux 10.7cm  Sunspot Number  \
5931        NaN        NaN                NaN             NaN
5932        NaN        NaN                NaN             NaN
5933        NaN        NaN                NaN             NaN
5934        NaN        NaN                NaN             NaN
5935        NaN        NaN                NaN             NaN

      Sunspot Area (10^6 Hemis.)  New Regions  Flares: C  Flares: M  \
5931                         NaN          NaN        NaN        NaN
5932                         NaN          NaN        NaN        NaN
5933                         NaN          NaN        NaN        NaN
5934                         NaN          NaN        NaN        NaN
5935                         NaN          NaN        NaN        NaN

      Flares: X  flare_today
5931        NaN          NaN
5932        NaN          NaN
5933        NaN          NaN
5934        NaN          NaN
5935        NaN          NaN

[5 rows x 32 columns]

In [182]:
# check for maximum dates
print(min(df_daily_all_spots['DATE']))
print(max(df_solar['DATE']))

2010-05-01 00:00:00+00:00
2024-04-12 00:00:00+00:00

In [183]:
# select the right year range
mask_1 = df_flares['DATE'] >= min(df_daily_all_spots['DATE'])
mask_2 = df_flares['DATE'] <= max(df_solar['DATE'])
df_flares = df_flares[mask_1 & mask_2]

print(df_flares.info())
print(df_flares.head())

<class 'pandas.core.frame.DataFrame'>
Index: 5096 entries, 120 to 5672
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DATE                        5096 non-null   datetime64[ns, UTC]
 1   USFLUX                      4691 non-null   float64
 2   MEANGAM                     4691 non-null   float64
 3   MEANGBT                     4691 non-null   float64
 4   MEANGBZ                     4691 non-null   float64
 5   MEANGBH                     4691 non-null   float64
 6   MEANJZD                     4691 non-null   float64
 7   TOTUSJZ                     4691 non-null   float64
 8   MEANALP                     4691 non-null   float64
 9   MEANJZH                     4691 non-null   float64
 10  TOTUSJH                     4691 non-null   float64
 11  ABSNJZH                     4691 non-null   float64
 12  SAVNCPP                     4691 non-null   float64
 13  MEANPOT                     4691 non-null   float64
 14  TOTPOT                      4691 non-null   float64
 15  MEANSHR                     4691 non-null   float64
 16  SHRGT45                     4691 non-null   float64
 17  R_VALUE                     4691 non-null   float64
 18  xrs_A_mean                  4636 non-null   float64
 19  xrs_A_min                   4636 non-null   float64
 20  xrs_A_max                   4636 non-null   float64
 21  xrs_B_mean                  4636 non-null   float64
 22  xrs_B_min                   4636 non-null   float64
 23  xrs_B_max                   4636 non-null   float64
 24  Radio Flux 10.7cm           5005 non-null   float64
 25  Sunspot Number              5005 non-null   float64
 26  Sunspot Area (10^6 Hemis.)  5005 non-null   float64
 27  New Regions                 5005 non-null   float64
 28  Flares: C                   5005 non-null   float64
 29  Flares: M                   5005 non-null   float64
 30  Flares: X                   5005 non-null   float64
 31  flare_today                 5005 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(31)
memory usage: 1.3 MB
None
                         DATE        USFLUX    MEANGAM     MEANGBT  \
120 2010-05-01 00:00:00+00:00  2.325578e+21  29.580376  121.361911
121 2010-05-02 00:00:00+00:00  2.696859e+21  28.751549  122.228577
122 2010-05-03 00:00:00+00:00  2.736471e+21  32.679652  114.202538
123 2010-05-04 00:00:00+00:00  3.459664e+21  29.875355  111.631345
124 2010-05-05 00:00:00+00:00  4.498598e+21  32.720370  114.997301

        MEANGBZ    MEANGBH   MEANJZD       TOTUSJZ   MEANALP   MEANJZH  ...  \
120  123.196711  51.438868  0.322770  2.560842e+12 -0.003638 -0.001203  ...
121  122.295676  49.115366  0.482847  2.705160e+12 -0.007909 -0.001914  ...
122  116.841407  50.343133  0.221901  3.094572e+12 -0.002675 -0.000645  ...
123  113.176893  47.272120  0.142148  3.900520e+12 -0.015443 -0.005443  ...
124  116.687383  53.344742  0.286059  5.273561e+12 -0.019879 -0.008015  ...

        xrs_B_min     xrs_B_max  Radio Flux 10.7cm  Sunspot Number  \
120  3.491130e-08  5.723020e-06               78.0            13.0
121  4.492540e-08  3.839320e-07               80.0            47.0
122  5.350900e-08  2.017300e-07               80.0            61.0
123  1.737540e-08  3.672410e-06               82.0            70.0
124  6.881780e-08  1.280620e-05               83.0            77.0

     Sunspot Area (10^6 Hemis.)  New Regions  Flares: C  Flares: M  Flares: X  \
120                        10.0          0.0        1.0        0.0        0.0
121                        20.0          3.0        0.0        0.0        0.0
122                        50.0          1.0        0.0        0.0        0.0
123                       100.0          1.0        1.0        0.0        0.0
124                       220.0          1.0        2.0        1.0        0.0

     flare_today
120          0.0
121          0.0
122          0.0
123          0.0
124          1.0

[5 rows x 32 columns]

In [184]:
# check for NaNs
nan_count = df_flares.isna().sum()
print(nan_count)

DATE                            0
USFLUX                        405
MEANGAM                       405
MEANGBT                       405
MEANGBZ                       405
MEANGBH                       405
MEANJZD                       405
TOTUSJZ                       405
MEANALP                       405
MEANJZH                       405
TOTUSJH                       405
ABSNJZH                       405
SAVNCPP                       405
MEANPOT                       405
TOTPOT                        405
MEANSHR                       405
SHRGT45                       405
R_VALUE                       405
xrs_A_mean                    460
xrs_A_min                     460
xrs_A_max                     460
xrs_B_mean                    460
xrs_B_min                     460
xrs_B_max                     460
Radio Flux 10.7cm              91
Sunspot Number                 91
Sunspot Area (10^6 Hemis.)     91
New Regions                    91
Flares: C                      91
Flares: M                      91
Flares: X                      91
flare_today                    91
dtype: int64

In [174]:
# Cleaning NaNs by interpolation

# Those 354 days with NaNs in flares are lost in my datasets. I decided to keep them as NaN andcreate a missing column.
df_flares["flare_missing"] = df_flares["flare_today"].isna().astype(int)

# set datetime as index (required for method='time')
df_flares = df_flares.set_index('DATE')

# The other columns I will interpolate by time and by rolling average if too big.
columns_to_interpolate = [
    'USFLUX', 
    'MEANGAM', 
    'MEANGBT', 
    'MEANGBZ', 
    'MEANGBH', 
    'MEANJZD',
    'TOTUSJZ', 
    'MEANALP', 
    'MEANJZH', 
    'TOTUSJH', 
    'ABSNJZH', 
    'SAVNCPP',
    'MEANPOT', 
    'TOTPOT', 
    'MEANSHR', 
    'SHRGT45', 
    'R_VALUE',
    'xrs_A_mean', 
    'xrs_A_min', 
    'xrs_A_max', 
    'xrs_B_mean', 
    'xrs_B_min',
    'xrs_B_max',
    'Radio Flux 10.7cm', 
    'Sunspot Number',
    'Sunspot Area (10^6 Hemis.)']

df_flares[columns_to_interpolate] = (
    df_flares[columns_to_interpolate]
    .fillna(df_flares[columns_to_interpolate].rolling(7, min_periods=1, center=True).mean())  # rolling average as interpolation
    .interpolate(method="time")  # fallback to interpolate up to 3 consecutive days
)

# reset index
df_flares = df_flares.reset_index()

nan_count = df_flares.isna().sum()
print(nan_count)

print(df_flares.head())

DATE                           0
USFLUX                         0
MEANGAM                        0
MEANGBT                        0
MEANGBZ                        0
MEANGBH                        0
MEANJZD                        0
TOTUSJZ                        0
MEANALP                        0
MEANJZH                        0
TOTUSJH                        0
ABSNJZH                        0
SAVNCPP                        0
MEANPOT                        0
TOTPOT                         0
MEANSHR                        0
SHRGT45                        0
R_VALUE                        0
xrs_A_mean                     0
xrs_A_min                      0
xrs_A_max                      0
xrs_B_mean                     0
xrs_B_min                      0
xrs_B_max                      0
Radio Flux 10.7cm              0
Sunspot Number                 0
Sunspot Area (10^6 Hemis.)     0
New Regions                   91
Flares: C                     91
Flares: M                     91
Flares: X                     91
flare_today                   91
flare_missing                  0
dtype: int64
                       DATE        USFLUX    MEANGAM     MEANGBT     MEANGBZ  \
0 2010-05-01 00:00:00+00:00  2.325578e+21  29.580376  121.361911  123.196711
1 2010-05-02 00:00:00+00:00  2.696859e+21  28.751549  122.228577  122.295676
2 2010-05-03 00:00:00+00:00  2.736471e+21  32.679652  114.202538  116.841407
3 2010-05-04 00:00:00+00:00  3.459664e+21  29.875355  111.631345  113.176893
4 2010-05-05 00:00:00+00:00  4.498598e+21  32.720370  114.997301  116.687383

     MEANGBH   MEANJZD       TOTUSJZ   MEANALP   MEANJZH  ...     xrs_B_max  \
0  51.438868  0.322770  2.560842e+12 -0.003638 -0.001203  ...  5.723020e-06
1  49.115366  0.482847  2.705160e+12 -0.007909 -0.001914  ...  3.839320e-07
2  50.343133  0.221901  3.094572e+12 -0.002675 -0.000645  ...  2.017300e-07
3  47.272120  0.142148  3.900520e+12 -0.015443 -0.005443  ...  3.672410e-06
4  53.344742  0.286059  5.273561e+12 -0.019879 -0.008015  ...  1.280620e-05

   Radio Flux 10.7cm  Sunspot Number  Sunspot Area (10^6 Hemis.)  New Regions  \
0               78.0            13.0                        10.0          0.0
1               80.0            47.0                        20.0          3.0
2               80.0            61.0                        50.0          1.0
3               82.0            70.0                       100.0          1.0
4               83.0            77.0                       220.0          1.0

   Flares: C  Flares: M  Flares: X  flare_today  flare_missing
0        1.0        0.0        0.0          0.0              0
1        0.0        0.0        0.0          0.0              0
2        0.0        0.0        0.0          0.0              0
3        1.0        0.0        0.0          0.0              0
4        2.0        1.0        0.0          1.0              0

[5 rows x 33 columns]

In [185]:
# Cleaning NaNs by interpolation

# Those 354 days with NaNs in flares are lost in my datasets. I decided to keep them as NaN andcreate a missing column.
df_flares = df_flares.dropna()

nan_count = df_flares.isna().sum()
print(nan_count)

print(df_flares.head())

DATE                          0
USFLUX                        0
MEANGAM                       0
MEANGBT                       0
MEANGBZ                       0
MEANGBH                       0
MEANJZD                       0
TOTUSJZ                       0
MEANALP                       0
MEANJZH                       0
TOTUSJH                       0
ABSNJZH                       0
SAVNCPP                       0
MEANPOT                       0
TOTPOT                        0
MEANSHR                       0
SHRGT45                       0
R_VALUE                       0
xrs_A_mean                    0
xrs_A_min                     0
xrs_A_max                     0
xrs_B_mean                    0
xrs_B_min                     0
xrs_B_max                     0
Radio Flux 10.7cm             0
Sunspot Number                0
Sunspot Area (10^6 Hemis.)    0
New Regions                   0
Flares: C                     0
Flares: M                     0
Flares: X                     0
flare_today                   0
dtype: int64
                         DATE        USFLUX    MEANGAM     MEANGBT  \
120 2010-05-01 00:00:00+00:00  2.325578e+21  29.580376  121.361911
121 2010-05-02 00:00:00+00:00  2.696859e+21  28.751549  122.228577
122 2010-05-03 00:00:00+00:00  2.736471e+21  32.679652  114.202538
123 2010-05-04 00:00:00+00:00  3.459664e+21  29.875355  111.631345
124 2010-05-05 00:00:00+00:00  4.498598e+21  32.720370  114.997301

        MEANGBZ    MEANGBH   MEANJZD       TOTUSJZ   MEANALP   MEANJZH  ...  \
120  123.196711  51.438868  0.322770  2.560842e+12 -0.003638 -0.001203  ...
121  122.295676  49.115366  0.482847  2.705160e+12 -0.007909 -0.001914  ...
122  116.841407  50.343133  0.221901  3.094572e+12 -0.002675 -0.000645  ...
123  113.176893  47.272120  0.142148  3.900520e+12 -0.015443 -0.005443  ...
124  116.687383  53.344742  0.286059  5.273561e+12 -0.019879 -0.008015  ...

        xrs_B_min     xrs_B_max  Radio Flux 10.7cm  Sunspot Number  \
120  3.491130e-08  5.723020e-06               78.0            13.0
121  4.492540e-08  3.839320e-07               80.0            47.0
122  5.350900e-08  2.017300e-07               80.0            61.0
123  1.737540e-08  3.672410e-06               82.0            70.0
124  6.881780e-08  1.280620e-05               83.0            77.0

     Sunspot Area (10^6 Hemis.)  New Regions  Flares: C  Flares: M  Flares: X  \
120                        10.0          0.0        1.0        0.0        0.0
121                        20.0          3.0        0.0        0.0        0.0
122                        50.0          1.0        0.0        0.0        0.0
123                       100.0          1.0        1.0        0.0        0.0
124                       220.0          1.0        2.0        1.0        0.0

     flare_today
120          0.0
121          0.0
122          0.0
123          0.0
124          1.0

[5 rows x 32 columns]

In [186]:
# Check for infinities
print(np.isinf(df_flares.select_dtypes(include=[np.number])).sum().sum())  # Count of inf/-inf
print(np.isnan(df_flares.select_dtypes(include=[np.number])).sum().sum())  # Count of NaN

0
0

In [187]:
# save final datafreme
df_flares.to_csv('./Data/data_flares_del.csv', index=False)